[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	df = diff
	ds = diff --staged
	ap = add -p
[core]
        autocrlf = input
        filemode = false
[push]
        default = current
